* {
  box-sizing: border-box;
}

body {
  background-color: #222236; /* change body color in index.html*/
  /* background: linear-gradient(to right, #512da8, #673ab7); */
}

.App {
  text-align: center;
  background-color: #222236; 
  /*#282c34*/
  /* background: #C9D6FF; 
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);
  background: linear-gradient(to right, #E2E2E2, #C9D6FF); */
  color: #000;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2824fb;
  /* min-height: 1vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #2824fb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.header {
  color: #fff; /*#02AAB0*/
  opacity: 0.9;
  /* text-shadow: -1px 1px 10px rgba(255, 255, 255, 0.75); */
  /* box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.2); */
}


.btn-remix {
  display: flex;
  width: 100px;
  height: 60px;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #BABBCC;
  border: 1px solid #BABBCC;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  margin: 0px;
  padding: 10px 10px;
  font-size: 16;
  line-height: 1.25;
  border-radius: 2px;
  transition: all .15s ease-in-out;
  opacity: 100%;
}
.btn-remix:hover {
  /* opacity: 70%; */
  color: #fff;
  cursor: pointer;
  text-decoration: underline;
}
.btn-remix-disabled {
  display: flex;
  width: 100px;
  height: 60px;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #BABBCC;
  border: 1px solid #BABBCC;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  margin: 0px;
  padding: 10px 10px;
  font-size: 16;
  line-height: 1.25;
  border-radius: 2px;
  transition: all .15s ease-in-out;
  opacity: 50%;
}

.btn-grad {background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 /* .btn-grad:hover {
   background-position: right center; 
   color: #fff;
   text-decoration: none;
 } */



 .btn-normal {background-image: linear-gradient(to right, #16222A 0%, #3A6073  51%, #16222A  100%)}
 .btn-normal {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  /* .btn-normal:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
  } */


  .btn-random {background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%)}
  .btn-random {
     margin: 10px;
     padding: 15px 45px;
     text-align: center;
     text-transform: uppercase;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;            
     box-shadow: 0 0 20px #eee;
     border-radius: 10px;
     display: block;
   }
/* 
   .btn-random:hover {
     background-position: right center;
     color: #fff;
     text-decoration: none;
   }
   */

   .ant-spin-text { color: #02AAB0; }
   .ant-spin-dot-item {background-color: #02AAB0;}


.nodes {
    fill: #fff;
    size: 500;
    opacity: 0.7;
}
.nodes text {
    fill: #000;
}
 
path {
    fill: #fff;
    stroke-width: 1.5px;
    stroke: #fff;
}

.edgeLabels {
  fill: #fff;
  color: #fff;
}
